* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

style h1{
     color: rgb(184, 128, 8);
}

/* Titulo principal */

h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: rgb(184, 128, 8);
    animation-name: rebotar;
    animation-duration: 3s;
}
@keyframes rebotar{
    0%{
        opacity: 0;
    }
}

/* Titulos */

h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

header {
    background-color: rgb(6, 50, 56);
}

body {
    background-color: rgb(184, 128, 8);
    background-image: linear-gradient(rgb(184, 128, 8), rgb(124, 106, 72));
}

/* Lista desordenada */

ul li a {
    list-style: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    display: inline;
    width: 25%;
    position: relative;
    font-size: 16px;
}

a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

a:hover{
    color: rgb(184, 128, 8);
}

/* Proyectos */

.contenedor{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: "img1 img1 img1 img1"
                        "img1 img1 img1 img1"
                        "img2 img2 img2 img2"
                        "img2 img2 img2 img2";
}
.item{
    border: 2px solid #000;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
}
.item1{
    background-image: url(pages/multimedia/pagina\ de\ nutricion.png);
    background-size: cover;
    background-position: center;
    grid-area: img1;
    margin-top: 20px;
    
}
.item2{
    background-image: url(pages/multimedia/pagina\ de\ indumentaria.jpg);
    background-size: cover;
    background-position: center;
    grid-area: img2;
    margin-bottom: 20px;
}



/* imagenes de la pag habilidades*/

.pagHabilidades img{
    width: 30%;
    padding: 50px;
    display: inline-block; 
    
}
.pagHabilidades p{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Texto de la paguina principal y demas*/

p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

/* Lenguajes de programacion pag principal */

.lenguajes img{
    width: 10%;
    height: auto;
    margin: auto;
    display: inline-block;
    padding: 10px;
}

/* Redes sociales pag principal */

.fb {
    height: auto;
    width: 5%;
    display: inline-block;
    justify-content: left;
}

.ig {
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 5%;
}

.ln {
    display: inline;
    justify-content: center;
    height: auto;
    width: 5%;
}

.wp {
    display: inline-flexbox;
    justify-content: center;
    height: auto;
    width: 5%;
}

div {
    text-align: center;
}

/* Sobre Mi, Foto */

.sobreMi{
    padding: 5px;
    width:auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sobreMi span{
    color: #000;
}
.fotoMia img{
    width: 30%;
    height: auto;
    padding: 30px;
    border-radius: 20%;
}
/* Footer */
footer{
    margin-top: 100px;
}
footer p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}
iframe{
    width: 200px;
    height: 100px; 
    border-radius: 15%;
}
.formulario{
    margin-top: 100px;
}
@media only screen and (max-width:360px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
    }
}



/*tutor al momento de corregir si sabe a que aplicarle flex grid y
 las media queris le pido de favor que lo aga y me lo pase para ver 
la correccion por que le juro que no le encuentro la vuelta a esto,
disculpeme pero no le encuentro la vuelta.*/

/* Lo de sobre mi cuando le cambio y aplico camelcase se me rompe todo 
y nose como arreglarlo por eso lo dejare asi hasta saber como solucionarlo,
 si me puede dar alguna ayuda con eso estaria super agradecido*/