$color1: rgb(184, 128, 8);
$color2: rgb(6, 50, 56);
$color3: #fff;
$color4: #000;


$estilos: (
    color:#fff
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

style h1 {
    color: $color1;
}

/* Titulo principal */

h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: $color1;
    animation-name: rebotar;
    animation-duration: 3s;
}

/* animacion en el h1 */

@keyframes rebotar {
    0% {
        opacity: 0;
    }
}

/* Titulos */

h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

header {
    background-color: $color2;
}

body {
    background-color: rgb(184, 128, 8);
    background-image: linear-gradient(rgb(184, 128, 8), rgb(124, 106, 72));
}

/* Lista desordenada general */

ul li a {
    list-style: none;
    color: $color3;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    display: inline;
    width: 25%;
    position: relative;
    font-size: 16px;
}

.lista1 a {
    font-size: 20px;
    color: $color4;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.lista1 a:hover {
    color: $color1;
}

/* Lista De Pagina Proyectos */

.listaProyectos2 {
    text-align: center;
}

.listaProyectos2 li a {
    color: $color4;
    text-decoration: none;
}

.listaProyectos2 li a:hover {
    color: $color3;
}

/* Los enlaces Ir de la pagina principal*/

.redireccion {
    text-align: center;
}

.redireccion a {
    padding: 5px;
    text-align: center;
    color: $color4;
    text-decoration: none;
    text-align: center;
}

.redireccion a:hover {
    color: $color3;
}

/* Pagina Proyectos */

.contenedor {
    height: auto;
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: "img1"
        "img1"
        "img2"
        "img2";
}


.item {
    border: 2px solid #000;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.item1 {
    background-image: url(pages/multimedia/pagina\ de\ nutricion.png);
    background-size: cover;
    background-position: center;
    grid-area: img1;
    margin-top: 20px;

}

.item2 {
    background-image: url(pages/multimedia/pagina\ de\ indumentaria.jpg);
    background-size: cover;
    background-position: center;
    grid-area: img2;
    margin-bottom: 20px;
}

/* imagenes de la pagina habilidades */

.pagHabilidades {
    text-align: center;
}

.pagHabilidades img {
    width: 30%;
    padding: 50px;
}

.pagHabilidades p {
    padding: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Texto de la paguina principal y general*/

p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}


/* Lenguajes de programacion pagina principal */

.lenguajes {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.lenguajes img {
    width: 10%;
    padding: 10px;
}


/* Redes sociales pagina principal */

.redesSociales {
    display: inline-block;
    text-align: center;
}

.fb {
    width: 5%;
}

.ig {
    width: 5%;
}

.ln {
    width: 5%;
}

.wp {
    width: 5%;
}

/* Pagina Sobre Mi, Foto */

.sobreMi {
    padding: 5px;
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobreMi span {
    color: $color4;
}

.teexxto {
    color: map-get($estilos, color)
}

.fotoMia {
    @extend .lenguajes;
}

.fotoMia img {
    width: 30%;
    height: auto;
    padding: 30px;
    border-radius: 20%;
}

/* Footer */

footer {
    margin-top: 100px;
}

footer p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: $color4;
}
.footer1{
    margin-top: 479px;
}

/* iframe y mapa */

.mapa {
    text-align: center;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
    border-radius: 15%;
}

iframe {
    @include sizes(200px, 100px)
}

/* Pagina Contacto */

html {
    height: 100% 100%;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/* MEDIA QUERIS */

/* Texto pagina principal inicia */
@media only screen and (min-width: 350px) and (max-width:400px) {
    .teexxto {
        width: 300px;
    }
}

@media only screen and (min-width: 350px) and (max-width:400px) {
    .parrafo {
        width: 300px;
    }
}

/* Texto pagina principal fin */

/* Texto pag sobreMi inicia */
@media only screen and (min-width: 350px) and (max-width:400px) {
    .sobreMi P {
        width: 300px;
    }
}

/* Texto pagina sobreMi fin */

/* imagenes de grid pagina proyecto inicia */

@media only screen and (min-width: 350px) and (max-width:400px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* imagenes de grid pagina proyecto fin */

/* lenguajes pagina principal inicia */

@media only screen and (min-width: 230px) and (max-width:400px) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1040) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .lenguajes img {
        width: 20%;
    }
}

/* lenguajes pagina principal fin */

/* redes solciales pagina principal inicia */

@media only screen and (min-width: 230px) and (max-width:400px) {
    .fb {
        width: 10%;
    }

    .ig {
        width: 10%;
    }

    .ln {
        width: 10%;
    }

    .wp {
        width: 10%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .fb {
        width: 10%;
    }

    .ig {
        width: 10%;
    }

    .ln {
        width: 10%;
    }

    .wp {
        width: 10%;
    }
}

/* redes solciales pagina principal fin */

/* foto mia paguina sobre mi inicia*/
@media only screen and (min-width:230px) {
    .fotoMia img {
        width: 20%;
    }
}

@media only screen and (min-width:230px) and (max-width:400px) {
    .fotoMia img {
        width: 60%;

    }
}

@media only screen and (min-width:400px) and (max-width:768px) {
    .fotoMia img {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1040) {
    .fotoMia img {
        width: 30%;
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .fotoMia img {
        width: 20%;
    }
}

/* foto mia paguina sobre mi fin */

/* paguina habilidades iconos inicia */
@media only screen and (min-width: 230px) and (max-width:400px) {
    .pagHabilidades img {
        width: 70%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .pagHabilidades img {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1040) {
    .pagHabilidades img {
        width: 40%;
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .pagHabilidades img {
        width: 30%;
    }
}

/* paguina habilidades iconos fin */

/* paguina habilidades texto inicia */
@media only screen and (min-width: 350px) and (max-width:400px) {
    .pagHabilidades p {
        width: 300px;
    }
}

/* paguina habilidades texto fin */

/* Footer inicio*/
@media only screen and (min-width: 350px) and (max-width:400px) {
    footer p {
        width: 300px;
    }
}

/* Footer fin*/