$color1: rgb(184, 128, 8);
$color2: rgb(6, 50, 56);
$color3:#fff;
$color4: #000;


$estilos:(
    color:#fff
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

style h1 {
    color: $color1;
}

/* Titulo principal */

h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color:$color1;
    animation-name: rebotar;
    animation-duration: 3s;
}

/* animacion en el h1 */

@keyframes rebotar {
    0% {
        opacity: 0;
    }
}

/* Titulos */

h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

header {
    background-color: $color2;
}

body {
    background-color: rgb(184, 128, 8);
    background-image: linear-gradient(rgb(184, 128, 8), rgb(124, 106, 72));
}

/* Lista desordenada */

ul li a {
    list-style: none;
    color: $color3;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    display: inline;
    width: 25%;
    position: relative;
    font-size: 16px;
}

.lista1 a {
    font-size: 20px;
    color: $color4;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.lista1 a:hover {
    color: $color1;
}

/* Lista De Pag Proyectos */

.listaProyectos2 {
    text-align: center;
}

.listaProyectos2 li a {
    color: $color4;
    text-decoration: none;
}

.listaProyectos2 li a:hover {
    color: $color3;
}

/* Los ir de la pag principal*/

.redireccion {
    text-align: center;
}

.redireccion a {
    text-align: center;
    color: $color4;
    text-decoration: none;
    text-align: center;
}

.redireccion a:hover {
    color: $color3;
}

/* Proyectos */

.contenedor {
    height: auto;
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: "img1"
        "img1"
        "img2"
        "img2";
}


.item {
    border: 2px solid #000;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.item1 {
    background-image: url(pages/multimedia/pagina\ de\ nutricion.png);
    background-size: cover;
    background-position: center;
    grid-area: img1;
    margin-top: 20px;

}

.item2 {
    background-image: url(pages/multimedia/pagina\ de\ indumentaria.jpg);
    background-size: cover;
    background-position: center;
    grid-area: img2;
    margin-bottom: 20px;
}

/* imagenes de la pag habilidades */

.pagHabilidades {
    text-align: center;
}

.pagHabilidades img {
    width: 30%;
    padding: 50px;
}

.pagHabilidades p {
    padding: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Texto de la paguina principal y demas*/

p{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}


/* Lenguajes de programacion pag principal */

.lenguajes {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.lenguajes img {
    width: 10%;
    padding: 10px;
}


/* Redes sociales pag principal */

.redesSociales {
    display: inline-block;
    text-align: center;
}

.fb {
    width: 5%;
}

.ig {
    width: 5%;
}

.ln {
    width: 5%;
}

.wp {
    width: 5%;
}

/* Sobre Mi, Foto */

.sobreMi {
    padding: 5px;
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobreMi span {
    color: $color4;
}
.teexxto{
    color: map-get($estilos, color )
}

.fotoMia {
    @extend .lenguajes;
}

.fotoMia img {
    width: 30%;
    height: auto;
    padding: 30px;
    border-radius: 20%;
}

/* Footer */

footer {
    margin-top: 100px;
}

footer p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: $color4;
}

/* iframe y mapa */

.mapa {
    text-align: center;
}

@mixin sizes($width, $height){
    width: $width;
    height: $height;
    border-radius:15% ;
}

iframe {
    @include sizes(200px, 100px)
}

/* Pag Contacto */

.formulario {
    text-align: center;
    margin-top: 113px;
}

/* MEDIA QUERIS */
/* imagenes de grid proyecto inicia */

@media only screen and (min-width: 350px) and (max-width:400px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* imagenes de grid proyecto fin */

/* lenguajes paguina principal inicia */

@media only screen and (min-width: 230px) and (max-width:400px) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1040) {
    .lenguajes img {
        width: 20%;
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .lenguajes img {
        width: 20%;
    }
}

/* lenguajes paguina principal fin */

/* redes solciales paguina principal inicia */

@media only screen and (min-width: 230px) and (max-width:400px) {
    .fb {
        width: 10%;
    }

    .ig {
        width: 10%;
    }

    .ln {
        width: 10%;
    }

    .wp {
        width: 10%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .fb {
        width: 10%;
    }

    .ig {
        width: 10%;
    }

    .ln {
        width: 10%;
    }

    .wp {
        width: 10%;
    }
}

/* redes solciales paguina principal fin */

/* foto mia paguina sobre mi inicia*/
@media only screen and (min-width: 230px) and (max-width:400px) {
    .fotoMia img {
        width: 20%;

    }
}

/* foto mia paguina sobre mi fin */

/* paguina habilidades iconos inicia */
@media only screen and (min-width: 230px) and (max-width:400px) {
    .pagHabilidades img {
        width: 50%;
    }
}

@media only screen and (min-width: 400px) and (max-width:768px) {
    .pagHabilidades img {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1040) {
    .pagHabilidades img {
        width: 40%;
    }
}

@media only screen and (min-width: 1040px) and (max-width:1320) {
    .pagHabilidades img {
        width: 30%;
    }
}

/* paguina habilidades iconos fin */


/* Cuando acomodo el codigo en el scss se me rompe el codigo asi que por el momento lo dejo asi hasta que averigue 
como solucionarlo y lo de las etiquetas Br tambien,no tuve tiempo */